@import "bootstrap";

body {
  padding-top: 20px;
  background-color: #f4f4f4;
}

.jumbotron {
	margin-top: -20px;
	background: url('wimbledon.jpg');
	height: 500px;
}

.jumbotron h1{
    color: #FFFFFF;
}

.search {
	margin-top: 7px;
	margin-bottom: 0px;
	padding: 0 !important;
}

//search results

.results {
    background-color: white;
    padding: 15px;
    margin-bottom: 2px;
}

.results:hover {
    background-color: #d8d7eb;
}

.results img {
    margin-right: 15px;
}

.results a {
    text-decoration: none;
    color: black;
}

.results h4, p {
    color: #383838;
}

.results h4 {
    font-size: 1.4em;
}

.results p {
    font-size: 1.1em;
}

//event details

.event-details {
    background-color: white;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 25px;
}

.event-details img {
    max-width: 100%;
    max-height: 300px;
}

.event-details h3 {
    margin-top: 0;
}

.event-details h4 {
    font-size: 1em;
    color: #6161b4;
    font-weight: bold;
    margin-bottom: 2px;
}

.event-details .btn-default {
    width: 110px;
}

.event-details a {
    color: #6161b4;
    text-decoration: underline;
}

.event-row {
    margin-bottom: 10px;
}

.event-row .btn {
    width: 100%;
}

.event-row h5 {
    margin-top: -10px;
    font-size: 1em;
}
.event-description {
	padding-top: 15px;
}
a:hover {
	cursor: pointer;
}

//profile
.row-event {
    border-style: groove;
    border-width: 1px;
    border-radius: 15px;
}

//wells
.well {
    background-color: #FFFFFF;
}

//errors
.invalid input{
    border-color: #a94442;
}

.footer 
{
position: relative;
margin-top: -35px; /* negative value of footer height */
clear:both;
padding-top:20px;
padding-bottom:20px;
color:#fff;
} 
.error
{
    color: red;
}