{{#unless isAdmin}}
	<h1>{{message}}</h1>
{{/unless}}
{{#if isAdmin}}
	<h1>Events</h1>

	<table class="table table-bordered table-striped">
	    <thead>
	      <tr>
	          <th>ID</th>
	          <th>Name</th>
	      </tr>
	    </thead>
	    <tbody>
	    {{#each model as |event|}}
	        <tr>
	            <th>{{event.id}}</th>
	            <td>{{event.name}}</td>
	            <td><button class="btn btn-danger btn-xs" {{action 'deleteEvent' event.id}}>Delete</button>
	           	{{#link-to 'admin.edit.events' event.id}}
	            <button class="btn btn-success btn-xs">Edit</button>
	            {{/link-to}}
	            </td>

	        </tr>
	    {{/each}}

	    </tbody>
	</table>
{{/if}}