<div class="container main">
	<h1>Explore Events</h1>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
        {{#each model as |event|}}
       		<div class="results">
       		{{#link-to 'details' event.id}}
                <a href="" style="height: 120px; width = 500px;">
                    <h4>{{event.name}}</h4>  
                    <p>Location: {{ event.city }}, {{event.state}}</p>
                    <span class="clearfix"></span>
                 </a>
            {{/link-to}}
            </div>
    	{{/each}}
        </div>
    </div>
</div>