<div class="jumbotron text-center">
    <br/><br/><br/><br/><br/><br/>
    <h1>Join events and play matches with your friends!</h1>
</div>
  <footer class="footer" style="background-color:#c2c2c2">
  <p class="text-center">&copy;2016 Kevin Chen</p>
</footer>